/* Catppuccin Mocha color scheme */
@define-color base    rgba(30, 30, 46, 0.6);
@define-color mantle #181825;
@define-color crust  #11111b;
@define-color base   rgba(30, 30, 46, 0.92);
@define-color shadow rgba(0, 0, 0, .78);

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
    font-size:16px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar{
    all:unset;
    min-height: 35px;
}

/* Main Module settings */
.modules-left {
<<<<<<< HEAD
    padding:9px;
    margin:10px 0px 10px 10px;
    border-radius:11px;
    background: @base;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .78);
}
.modules-center {
    padding:9px;
    margin:10px 0px 10px 0px;
    border-radius:11px;
    background: @base;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .68);
}
.modules-right {
    padding:9px;
    margin: 10px 10px 10px 0px;
    border-radius:11px;
    background: @base;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .78);
}

=======
    padding:7px;
    margin:9px 0px 9px 9px;
    border-radius:10px;
    background: alpha(@mantle,.7);
    box-shadow: 0px 0px 5px @subtext1;
}
.modules-center {
    padding:7px;
    margin:9px 0px 9px 0px;
    border-radius:10px;
    background: alpha(@mantle,.7);
    box-shadow: 0px 0px 5px @subtext1;
}
.modules-right {
    padding:7px;
    margin: 9px 9px 9px 0px;
    border-radius:10px;
    background: alpha(@mantle,.7);
    box-shadow: 0px 0px 5px @subtext1;
}

/* Module Configurations */
>>>>>>> f6326c2 (Updated config with epik-shell.)
tooltip {
    background:@base;
    color: @lavender;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all .3s ease;
    color:@color9;
}
#custom-notification {
    padding: 3px 6px;
    transition: all .3s ease;
    color:@lavender;
}
#custom-power {
    padding: 5px 8px;
    margin: 0px 3px;
    transition: all .3s ease;
    background-color:@base;
    color:@blue;
    border-radius: 6px;
}
#clock {
    padding: 3px 6px;
    color:@lavender;
    transition: all .3s ease;
}
#custom-pacman {
    padding: 3px 6px;
    transition: all .3s ease;
    color:@lavender;

}

/* Workspace Settings */
#workspaces {
    padding: 3px 6px;
}
#workspaces button {
    all:unset;
    padding: 3px 6px;
    color: alpha(@color9,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
}
#workspaces button.active {
    color: @teal;
    border: none;
    padding: 3px 8px;
    margin: 0px 4px;
    min-width:27px;
    background-color: @teal;
    border-radius: 11px;
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
}
#workspaces button.empty.active {
    color: @teal;
    border: none;
    text-shadow: none;
}

/* Other settings */
#bluetooth{
    padding: 6px 8px;
    transition: all .3s ease;
    color:@blue;

}
#network{
    padding: 6px 8px;
    transition: all .3s ease;
    color:@sapphire;

}
#battery{
    padding: 6px 8px;
    transition: all .3s ease;
    color:@lavender;
}
#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#group-expand{
    padding: 3px 6px;
    transition: all .3s ease;
}
#custom-expand{
    padding: 3px 6px;
    color:alpha(@foreground,.2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}
#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#custom-colorpicker{
    padding: 3px 6px;
}
#cpu,#memory,#temperature{
    padding: 3px 6px;
    transition: all .3s ease;
    color:@lavender;

}
#custom-endpoint{
    color:transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);

}
#tray{
    padding: 3px 6px;
    transition: all .3s ease;

}
#tray menu * {
    padding: 3px 6px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 3px 6px;
    transition: all .3s ease;
}
